.about-content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content__container__skillSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 66px;
  row-gap: 76.8px;
  margin-left: 51.2px;
  margin-right: 51.2px;
  background: var(--grayish-black);
  border-radius: 12px;
}
.about-content__container__skillSet__text h3 {
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 450;
  font-size: 57.6px;
  line-height: 47px;
}
.about-content__container__skillSet__bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 25px;
}
.about-content__container__time-quality {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 76.8px;
  margin-left: 130px;
  margin-right: 130px;
}
.about-content__container__time-quality__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 79.2px;
}
.about-content__container__time-quality__text h4 {
  font-family: "Brandon Grotesque";
  font-style: italic;
  font-weight: 450;
  font-size: 57.6px;
  line-height: 67px;
  letter-spacing: 0.03em;
}
.about-content__container__time-quality__text__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 51.2px;
}
.about-content__container__time-quality__image img {
  filter: var(--drop-shadow);
  width: 430px;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to right, #FE572E 0%, #FC3A79 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.about-content__container__testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 99.2px 102.4px;
  gap: 77px;
}
.about-content__container__imageHover {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  row-gap: 44.8px;
}
.about-content__container__imageHover h3 {
  font-family: "Brandon Grotesque";
  font-style: italic;
  font-weight: 450;
  font-size: 57.6px;
  line-height: 47px;
}
.about-content__container__imageHover__content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  padding: 0px;
  gap: 25.6px;
}
.about-content__container__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 50px;
}
.about-content__container__tools__clicker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12.8px;
  gap: 12.8px;
  background: var(--grayish-black);
  border-radius: 80px;
}
.about-content__container__tools__clicker--design, .about-content__container__tools__clicker--dev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16.4923px 32.9846px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 80px;
}
.about-content__container__tools__clicker--design p, .about-content__container__tools__clicker--dev p {
  font-family: var(--proxima);
  font-style: normal;
  font-weight: 700;
  font-size: 14.4308px;
  line-height: 21px;
  color: var(--white);
}
.about-content__container__tools__contents--design, .about-content__container__tools__contents--dev {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  padding: 0px;
  gap: 32px;
}/*# sourceMappingURL=aboutContent.css.map */