.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25.5822px 64px;
  background-color: var(--white);
  border-top: solid rgba(38, 31, 34, 0.25) 1px;

  &__copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 51.16px;

    p {
      font-family: var(--proxima);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(38, 31, 34, 0.75);
      cursor: pointer;
    }
  }
  
  &__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25.58px;
    
    p {
      cursor: pointer;
      font-family: var(--proxima);
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 19px;
      color: var(--black);
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 51.16px;

    img {
      cursor: pointer;
    }
  }
}