.imageHover__content {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border: 2.4px solid rgba(252, 58, 121, 1);
  border-radius: 12px;
  position: relative;
  
  img {
    border-radius: 12px;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 800ms;
    
      &:hover {
        opacity: 0.1;
      }
  }
  
  // border: 1px solid black;
  &__text {
    max-width: 100%;
    max-width: 100%;

    // border: 1px solid black;
    padding: 38px 58px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25.6px;
    align-self: stretch;
    border-radius: 12px;

    // display: none;

    h5 {
      font-family: 'Brandon Grotesque';
      font-style: normal;
      font-weight: 450;
      font-size: 24px;
      line-height: 32px;
      color: var(--black);
    }

    p {
      font-family: var(--proxima);
      font-style: normal;
      font-weight: 400;
      font-size: 16.8px;
      line-height: 24px;
      color: rgba(38, 31, 34, 0.75);
    }

  }

}